*{
  font-family: avenir;
}

header{
  height: 7.5vh;
  width: 100%;
  background: grey;
  border-bottom: 1px solid;
  position: fixed;
}

#splashText{
  position: absolute;
  top: 7.5vh;
  left: 0px;
  height: 85vh;
  width: 50vw;
  text-align: center;
}

#text{
  position: relative;
  top: 30vh;
  height:10px;
  color: purple;
  font-size: 8vh;
}

#splashButton{
  border-radius: 10px;
  position: relative;
  top: 39vh;
  height: 5vh;
  width: 17vw;
  font-size: 3.25vh;
  color: white;
  background-color: grey;
}

#tracks{
  position: absolute;
  opacity: .19;
  float: right;
  width: 50vw;
  height: 85vh;
  top: 7.5vh;
  right: 0px;
}

footer{
  height: 7.5vh;
  width: 100%;
  background: grey;
  bottom: 0px;
  line-height: 7.5vh;
  position: fixed;
  font-size: 4vh;
  color: white;
}

#footerText{
  margin-left: 75px;
}
